<!-- Container for Seq2Seq Sampler -->
 

  <div class="graphdescription"> Explore COCO-Africa </div>

   
  <div class="bx--row ">

    <div class=" searchlocker">
      <div class="bx--form-item searchboxdiv">
        <input id="text-input-1" type="text" class="bx--text-input" placeholder="Placeholder text">
      </div>

      <div class="searchbutton ">
        <button class="bx--btn bx--btn--primary " type="button">
          Search
          <svg class="bx--btn__icon" width='23' height='23' viewBox='0 0 23 23' fill-rule='evenodd'>
              <path d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'></path>
            </svg>
        </button>
      </div>
    </div>

     <!-- explore image search results -->
     <div class="imageexploreresultcontent p10">
      <section id="photos" class="explorephotos">
        <div class="eachimagebox  ">
          <img class="imageresultimg" src="https://farm1.staticflickr.com/978/40131472290_dc9b568491_n.jpg" />
          <div class="imghovermenubar "> helllo
            <!-- <div class="imagehovermenu ">save</div>  -->
          </div>
        </div>
      </section>
    </div>
  </div>

   
 
  <!-- end of Container for RNN Sample -->