<div class="graphdescription"> Project Description </div>
<div class="abstractcontent lighttext">
  
    This work presents the COCOA dataset created with the goal of improving computer vision tasks ( detection, captioning, classification etc) with a focus on the African context. Following examples from existing datasets, this work focuses on gathering images of complex scene and containing objects that are more likely to be observed within Africa and largely underrepresented in other repositories.   
    The COCOA-Africa dataset can be used to augment existing datasets to improve representativeness for general classification and object detection tasks. In addition, the dataset allows a focus on the classification and detection categories that are meaningful for the Africa context.

  <br/> <br/>
  This is work in progress, feedback is most welcome! Check out the <a class="documentationdemolink documentationlink" href="#">demo</a>, view some generated <a class="documentationexamplelink documentationlink" href="#examples"> examples</a>, 
  or download an <a class="documentationlink" target="blank" href="https://arxiv.org">early draft</a>  of the paper below.
</div>

<a href="https://arxiv.org" target="blank">
<button class="bx--btn bx--btn--primary" type="button">
    Early Paper Draft
    <svg class="bx--btn__icon"width='24' height='24' viewBox='0 0 24 24' fill-rule='evenodd'>
        <path d='M19 9.4l-1.2-1.1L13 13V0h-2v13L6.2 8.3 5 9.4l7 6.6z'></path><path d='M22 14v6H2v-6H0v10h24V14z'>
    </svg>
  </button>
</a>
<br/>