<div class="graphdescription"> COCOA-Africa Team </div>
<div class="abstractcontent lighttext">
  
  The bandy bunch trying to put COCOA-Africa together.

  <br/> <br/>
  This is work in progress, feedback is most welcome! Explore out the <a class="documentationdemolink documentationlink" href="#">datset</a>, view some generated <a class="documentationexamplelink documentationlink" href="#examples"> examples</a>, 
  or download an <a class="documentationlink" target="blank" href="https://arxiv.org">early draft</a>  of the paper below.
</div>

<a href="https://arxiv.org" target="blank">
<button class="bx--btn bx--btn--primary" type="button">
    Early Paper Draft
    <svg class="bx--btn__icon"width='24' height='24' viewBox='0 0 24 24' fill-rule='evenodd'>
        <path d='M19 9.4l-1.2-1.1L13 13V0h-2v13L6.2 8.3 5 9.4l7 6.6z'></path><path d='M22 14v6H2v-6H0v10h24V14z'>
    </svg>
  </button>
</a>
<br/>